@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(53, 52, 54, 0.4)),
    url(images/pexels-selcuk-teke-393955-3684396.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 17%;
}

header h1,
h3,
h4 {
  text-align: center;
  color: whitesmoke;
}

header h1 {
  font-size: 65px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header h3 {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

main .box2 h3 {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #bfbdc7 !important;
  margin-top: 1%;
  text-align: left;
}

main .box2 h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
header h4 {
  font-size: 18px;
}

main {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10%;
}

main .box2 {
  margin-top: 10%;
}

main .box2 h3 {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main .box2 p {
  text-align: justify;
}
main img {
  width: 370px;
  height: 440px;
  border-radius: 10px;
}

article .introHistory {
  text-align: center;
  margin-bottom: 5%;
}

article .introHistory h4 {
  color: #bfbdc7 !important;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

article .introHistory h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 42px;
}

article .places {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

summary .introSummary {
  text-align: center;
}

summary .introSummary h2 {
  font-size: 42px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
summary .pictures .picBox iframe {
  width: 350px;
  height: 450px;
}
summary .pictures .picBox {
  padding: 0 20px;
}
summary .pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

summary .pictures .picBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 10%;
  background: linear-gradient(rgba(7, 47, 72, 0.8), rgba(7, 47, 72, 0.8)),
    url(/images/pexels-julien-goettelmann-44396125-28966545.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

footer p {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #bfbdc7;
}

.footerBox1 h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.footerBox1 {
  padding: 30px 20px;
}

.options {
  margin-left: 16%;
}

.options p:hover {
  color: rgb(224, 224, 82);
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
}

.navBoxes1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #212825;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(219, 201, 201);
}

.navBoxes2 {
  width: 50%;
  background-color: #212825 !important;
}

.links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  cursor: pointer;
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
}

.links a {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
}

.links a:hover {
  cursor: pointer;
  color: rgb(222, 222, 89);
  color: whitesmoke;
  text-decoration: none;
}

#mynavtoggle {
  display: none;
  border: none;
  background: none;
  transition: 0.5s;
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

#mynavtoggle:hover {
  color: whitesmoke;
  text-decoration: none;
}

article {
  margin-bottom: 10%;
}

.place1 {
  padding: 0 20px;
}

.text p {
  text-align: justify;
}

.text h2 {
  text-align: center;
}

.text h4 {
  color: black;
  text-align: left;
  font-size: 15px;
}

.adress {
  font-size: 15px;
}

.images {
  height: 160px;
  width: 350px;
  display: flex;
  flex-direction: row;
}

.images .pb {
  width: 50%;
  height: 50%;
}

.images .pb img {
  width: 175px;
  height: 160px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 100%;
  height: 50px;
  background-color: #212825;
  cursor: pointer;
  margin: 10px 0;
}

button a {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
}

button a:visited {
  color: whitesmoke;
  text-decoration: none;
}

.introSummary h3 {
  color: #bfbdc7 !important;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 0 25px;
  }

  header h1,
  h3,
  h4 {
    text-align: center;
    color: whitesmoke;
  }

  header h1 {
    font-size: 25px !important;
  }

  header h3 {
    font-size: 15px;
  }

  header h4 {
    font-size: 7px;
  }

  .mainH {
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #bfbdc7 !important;
    margin-top: 1%;
    text-align: left;
  }

  main .box2 h3 {
    display: none;
  }

  main .box2 h2 {
    font-size: 18px;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  main .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main .box2 p {
    text-align: justify;
    font-size: 13px;
  }

  .mainH {
    display: block;
  }
  main img {
    width: 300px;
    height: 370px;
    border-radius: 10px;
  }
  article .introHistory {
    text-align: center;
    margin-bottom: 5%;
  }

  article .introHistory h4 {
    font-size: 18px;
  }

  article .introHistory h2 {
    font-size: 20px;
  }

  article .places {
    display: grid;
    grid-template-columns: 1fr;
  }

  summary .introSummary {
    text-align: center;
  }

  summary .introSummary h2 {
    font-size: 20px;
  }
  summary .pictures .picBox iframe {
    width: 150px !important;
    height: 500px !important;
  }

  summary .pictures .picBox {
    padding: 10px 10px;
  }

  summary .pictures {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  summary .pictures .picBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    background: linear-gradient(rgba(7, 47, 72, 0.8), rgba(7, 47, 72, 0.8)),
      url(/images/pexels-julien-goettelmann-44396125-28966545.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  footer p {
    font-size: 12px;
    color: #bfbdc7;
    text-align: center;
  }

  footer .footerBoxes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footerBox1 {
    padding: 20px 0px;
  }

  footer .footerBox1 h3 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
  }

  footer .footerBoxes .footerBox1 {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .text p {
    text-align: justify;
    font-size: 14px;
  }

  .text h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 15% !important;
  }

  .text h4 {
    color: black;
    text-align: left;
    font-size: 15px;
  }

  .adress {
    font-size: 14px;
  }

  .images {
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%; /*BURAYA TEKRAR BAK*/
  }

  .images .pb {
    width: 50%;
    height: 50%;
  }

  .images .pb img {
    width: 150px;
    height: 130px;
  }

  .images .pb iframe {
    width: 150px;
    height: 130px;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 100%;
    height: 50px;
    background-color: #212825;
    color: whitesmoke;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
  }

  .introSummary h3 {
    color: #bfbdc7 !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .navBoxes1 {
    width: 100%;
  }

  .navBoxes2 {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding-left: 5px;
    text-decoration: none;
    color: whitesmoke;
  }

  .links {
    display: none;
  }

  .openLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #212825;
    text-decoration: none !important;
    color: whitesmoke !important;
    position: absolute;
    right: 20px; /* Align with the button */
    top: 60px; /* Just below the navbar */
    padding: 10px;
  }

  .openLinks a {
    text-decoration: none !important;
    color: whitesmoke !important;
  }

  .navIcon {
    display: block;
    margin-left: -80%;
  }

  #mynavtoggle {
    display: block;
  }

  #mynavtoggle i {
    margin-left: 75%;
    color: whitesmoke;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .navBoxes1 {
    width: 100%;
  }

  .navBoxes2 {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding-left: 5px;
    text-decoration: none;
    color: whitesmoke;
  }

  .links {
    display: none;
  }

  .openLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #212825;
    text-decoration: none !important;
    color: whitesmoke !important;
    position: absolute;
    right: 20px; /* Align with the button */
    top: 60px; /* Just below the navbar */
    padding: 10px;
  }

  .openLinks a {
    text-decoration: none !important;
    color: whitesmoke !important;
  }

  .navIcon {
    display: block;
    margin-left: -80%;
  }

  #mynavtoggle {
    display: block;
  }

  #mynavtoggle i {
    margin-left: 75%;
    color: whitesmoke;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }

  header h1 {
    font-size: 40px !important;
  }

  header h3 {
    font-size: 20px;
  }

  header h4 {
    font-size: 12px;
  }

  .mainH {
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #bfbdc7 !important;
    margin-top: 1%;
    text-align: left;
  }

  main .box2 h3 {
    display: none;
  }

  main .box2 h2 {
    font-size: 20px;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  main .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main .box2 p {
    text-align: justify;
    font-size: 15px;
  }

  .mainH {
    display: block;
  }
  main img {
    width: 350px;
    height: 440px;
    border-radius: 10px;
  }

  article .introHistory {
    text-align: center;
    margin-bottom: 5%;
  }

  article .introHistory h4 {
    font-size: 20px;
  }

  article .introHistory h2 {
    font-size: 22px;
  }

  article .places {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text p {
    text-align: justify;
    font-size: 14px;
  }

  .text h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 15% !important;
  }

  .text h4 {
    color: black;
    text-align: left;
    font-size: 15px;
  }

  .adress {
    font-size: 14px;
  }

  .images {
    height: 250px;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%; /*BURAYA TEKRAR BAK*/
  }

  .images .pb {
    width: 50%;
    height: 50%;
  }

  .images .pb iframe {
    width: 275px;
    height: 250px;
  }

  .images .pb img {
    width: 275px;
    height: 250px;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 100%;
    height: 50px;
    background-color: #212825;
    color: whitesmoke;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }

  button a {
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
  }

  button a:visited {
    color: whitesmoke;
    text-decoration: none;
  }

  .introSummary h3 {
    color: #bfbdc7 !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  summary .introSummary {
    text-align: center;
  }

  summary .introSummary h2 {
    font-size: 20px;
  }
  summary .pictures .picBox iframe {
    width: 350px !important;
    height: 475px !important;
  }

  summary .pictures .picBox {
    padding: 15px 15px;
  }

  summary .pictures {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  summary .pictures .picBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
